/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global Styling*/

/* font styles
font-family: 'Martel', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

h4, p {
  font-family: 'Martel', serif;;
}
.container {
  width: 80%;
  height: auto;
  margin: 0 auto;

  /* border: 3px solid red; */
}
 .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 /* header styling */
 .header {
  background: rgb(24,40,72);
background: radial-gradient(circle, rgba(24,40,72,1) 20%, rgba(75,108,183,1) 45%, rgba(11,25,52,1) 75%);
 }

 /* Nav Styling */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  margin: 0 auto;
 /* border: 2px solid red; */
} 
.nav-menu {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 0;
  
}

.nav-item {
  list-style: none;
  text-align: center;
  margin: .5em;
}

.nav-item > a {
  text-decoration: none;
  display: block;
  color: #fffffe;
}

.nav-item > a:hover{
  color: yellow;
}

.logo {
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
  background-color: #fffffe;
  box-shadow:
  6px 9px 18px rgba(0, 0, 0, .99)
;

}

.logo > a {
  text-decoration: none;
  color: black;
}

/* --- Blog Post Styling --- */
 .blog-date {
  font-size: .9rem;
  font-style: italic;
  border-bottom: 1px solid black;
  font-family: 'Martel', serif;
  margin-top: 2em;
  
 }

 .main-title {
  padding: .5em;
  text-align: center;
 }

 .image {
  margin: .5em 0;
 }

 .subtitle {
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  padding: .8em;
  font-family: 'Work Sans', sans-serif;
 }

 .question {
  font-size: 1.15rem;
  padding: .5rem 0;
  margin: 1em;
  line-height: 1.2;
  text-align: left;
} 

 .main-text {
  padding: .5em;
  font-family: 'Martel', serif;
 }




 /* Classes for specific stylesets */
 .italics {
  font-style: italic;
 }

 .bold-italics {
  font-style: italic;
  font-weight: bold;
 }

 .title {
  padding: .5em;
  text-decoration: underline;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

 }

 .back-to-link-list, .resource-link {
  font-family: 'Martel', serif ;
  padding: .5em;
  text-decoration: underline;
 }

 .video {
  width: 90%;
  height: auto;
 }
 
 /* --- List Styles --- */
 .list {
  margin: 0;
  
 }

 .bulletpoints {
  padding: 0.5em;
  font-family: 'Martel', serif;
  list-style-type:square;
  
 }

 .js {
  list-style-type: decimal;
 }



 /* --- Blockquote Styling --- */

 .quote {
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family:'Times New Roman', Times, serif;
  padding: .5em 1.5em;
  font-style: italic;
  font-size: 1.125rem;
  background: #b8c1ec;
  border-left: 4px solid black;
  position: relative;
  margin: 1em auto;

 }


.quotation {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: .2;
  font-size: 4rem;
  font-family: 'BIZ UDGothic', sans-serif;
  transform: rotate(180deg);
   
}

.quote-author {
  font-weight: bold;
  text-align: right;
 }


/* Footer styling */

.footer {
  background-color: #182848;
  color: #fffffe;
  text-align: center;
  margin-top: .5em;
  font-family: 'Roboto Condensed', sans-serif;
  /* border: 2px solid red; */

}

/* --- Media Queries --- */
@media screen and (min-width:768px){
  .main-title {
    font-size: 2rem;
  }

  .main-text {
    font-size: 1.125rem;
  }

  .title {
    font-size: 1.5rem;
  }
  .image {
    margin: 0 auto;
  }
  .image-js {
    width: 60%;
    margin: 0 auto;
  }

  /* blockquote styling */
  .quote {
    width: 80%;
    font-size: 1.125rem;
  }
}

@media screen and (min-width:1200px) {
 
  .main-title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .main-text {
    font-size: 1.25rem;
    
  }

  .question, .main-text {
    width: 80%;
    margin: 0 auto;
  } 
  
  .title {
    font-size: 1.75rem;
   
  }

  .image {
    width: 60%;
  }

  .image-js {
    width: 50%;
  }

  .question {
    font-size: 1.4rem;
    padding: 1em 0;
  }

 

  /* blockquote styling */
  .quote {
    width: 60%;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
  }

  /* list styling */
   
  #js-links > li, .list  {
   margin: 0 auto;
   width: 80%;
   font-size: 1.15rem;
    
  }

  .back-to-link-list, .resource-link {
   margin-left: 10%;
   padding: 1em 0;
  }
}